<nb-layout>

  <nb-layout-header fixed>
    Point of Sale
  </nb-layout-header>


  <nb-layout-column left class="colored-column-success">
    <nb-card>
      <nb-card-header>Items</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item>1</nb-list-item>
          <nb-list-item>2</nb-list-item>
          <nb-list-item>3</nb-list-item>
        </nb-list>
      </nb-card-body>
      <nb-card-footer>Total: </nb-card-footer>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column class="colored-column-warning">Firoz</nb-layout-column>
  <nb-layout-column class="colored-column-info"><router-outlet></router-outlet></nb-layout-column>


  <nb-layout-footer fixed>
    Made with ❤ in Australia
  </nb-layout-footer>

</nb-layout>