<nb-layout-header id = "header" fixed>
        <h1 id = "headerText">Dashboard</h1> 
      </nb-layout-header>
<nb-layout-column class="products">
  <table class="table table-responsive table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let row of products">
      <td>{{row.id}}</td>
      <td>{{row.name}}</td>
      <td>{{row.price}}</td>
    </tr>
  </table>

  <hr />
  <input type="text" [(ngModel)]="name" placeholder="name" />
  <input type="text" [(ngModel)]="price" placeholder="price" />

  <button (click)="buttonClicked()">Click to Insert New Row</button>
  </nb-layout-column>
  
  <nb-layout-footer fixed>
    Made with ❤ in Australia
  </nb-layout-footer>
