<nz-layout>
  <nz-header>
    <h1>Point of Sale</h1>
  </nz-header>

  <nz-content>
    <button id="dashButton" nz-button nzType="primary" routerLink="dashboard" routerLinkActive="active" [nzLoading]="" ><i nz-icon
      nzType="dashboard" nzTheme="outline"></i>Dashboard</button>
  

    <div class="homeBody" nz-row>

      <div class="cart" nz-col nzSpan="6">
        <nz-card nzTitle="Transection">
          <nz-list nzItemLayout="horizontal" class="itemList">
            <nz-list-item *ngFor="let item of cart.items">
              {{item.name}}
              <span>${{item.price}}</span>
            </nz-list-item>
            <nz-list-empty *ngIf="cart.items.length === 0"></nz-list-empty>
          </nz-list>
        </nz-card>
        <h2>Total: ${{cart.total}}</h2>
      </div>

      <div class="items" nz-col nzSpan="18">
        <nz-list nzGrid [nzLoading]="loading">
          <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="3" *ngFor="let product of products">
              <nz-list-item>
                <nz-card [nzTitle]="product.name" (click)="add(product)">
                  <h1>${{product.price}}</h1>
                </nz-card>
              </nz-list-item>
            </div>
          </div>
        </nz-list>
      </div>

    </div>
  </nz-content>
  <nz-footer>
    Made with ❤ in Australia
  </nz-footer>
</nz-layout>