<nz-layout>
  <nz-header>
    <h1>Point of Sale</h1>
  </nz-header>
  <nz-header>
    <button nz-button nzType="primary" routerLink="dashboard" routerLinkActive="active" [nzLoading]=""><i nz-icon
        nzType="dashboard" nzTheme="outline"></i>Click me!</button>
  </nz-header>
  <nz-content>
    <div nz-row>

      <div nz-col nzSpan="12">
        <nz-card nzTitle="Card title">
          <ul nz-list [nzDataSource]="cart.items" nzBordered nzSize="large">
            <nz-list-header>Cart</nz-list-header>
            <li nz-list-item *ngFor="let product of cart.items" nzNoFlex>
              <ul nz-list-item-actions>
                <nz-list-item-action>
                  <a>edit</a>
                </nz-list-item-action>
              </ul>
              {{product.name}}
            </li>
            <nz-list-footer>Total: ${{cart.total}}</nz-list-footer>
          </ul>
        </nz-card>
      </div>

      <div nz-col nzSpan="12">
        <nz-list nzGrid>
          <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="6" *ngFor="let product of products">
              <nz-list-item>
                <nz-card [nzTitle]="product.name" (click)="add(product)">
                  Card content
                </nz-card>
              </nz-list-item>
            </div>
          </div>
        </nz-list>
      </div>

    </div>
  </nz-content>
  <nz-footer>
    Made with ❤ in Australia
  </nz-footer>
</nz-layout>