<nb-layout>
    <nb-layout-header fixed>
        Point of Sale
      </nb-layout-header>
<nb-layout-column class="products">
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile  *ngFor="let product of products">
          <button nbButton hero size="giant" (click) = "add(product)" >{{ product.name }}</button>
        </mat-grid-tile>
      </mat-grid-list>
  </nb-layout-column>
  
  <nb-layout-column left class="cart">
      <nb-card id="card">
        <nb-card-header>Items</nb-card-header>
        <nb-card-body>
          <nb-list >
            <nb-list-item *ngFor="let product of cart.items">
              {{product.name}}
            </nb-list-item>
          </nb-list>
        </nb-card-body>
        <nb-card-footer>Total: $ {{cart.total}} </nb-card-footer>
      </nb-card>  
  </nb-layout-column>

  <nb-layout-footer fixed>
    Made with ❤ in Australia
  </nb-layout-footer>
</nb-layout>